*{
    margin: 0;
    padding: 0;
}
body{
    font-family: open sans;
}
.header-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    justify-content:space-around;  
}
.header-title{
color: #272727;
font-family: Lato;
font-size: 50px;
font-weight: 800;
}
.header-description{
 color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
margin-top: 10px;
}
.btn-primary{
    padding: 10px 20px;
    background: #E55473;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
}
.img-photo{
    width: 300px;
    height: 400px;
}
 

.sale-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 20px;

}
.sale-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.primary{
    color: #E55473;
}
.sale-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}
.btn-sign{
    padding: 10px 20px;
    background: #E55473;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 210px;
 
}

.title{
 
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.description{
 color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 15px;
font-weight: 400;
margin-top: 10px;
}
.card-photo{
    width: 250px;
    height: 300px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px 20px;
}
.deal-container{
    padding: 10px 5px;
 margin-left:20px;
 width:100%;
height: 300px;
margin: auto;
 background-image: url("/Flower Asset/Rectangle 9.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-size: 80%;
}
.titles{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0;
}
.subscript-description{
    color: rgba(39, 39, 39, 0.60);
}
.subscript-title{
    color: #272727;
    font-weight: 700;
}
input{
    width: 400px;
    padding: 10px 10px;
    margin-top: 40px;
    border: none;
}